@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  // Heading
  h1 {
    @apply text-h1 font-bold;
  }

  h2 {
    @apply text-4xl font-bold;
  }

  h3 {
    @apply text-2xl font-medium;
  }

  h4 {
    @apply text-lg font-medium;
  }

  h5 {
    @apply text-base font-medium;
  }

  h6 {
    @apply text-xs font-bold;
  }

  body {
    @apply text-shade-900;
  }
}

@layer utilities {
  .wrapper {
    @apply max-w-[1920px] ml-auto mr-auto;
  }
}
